{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyber cafe management system</title>
    <link rel="stylesheet" href="{% static 'dashboard.css'%}">
</head>
<body>
    <div class ="background">
        <div class="manu">
             <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="addcus.html">Customer Management</a></li>
                    <li><a href="addcom.html">Computer Management</a></li>
                    <li><a href="home.html">Logout</a></li>
             </ul>
            
        </div>
        <div class="slogan">
            <H2>𝐂𝐲𝐛𝐞𝐫 𝐂𝐚𝐟𝐞 𝐌𝐚𝐧𝐚𝐠𝐞𝐦𝐞𝐧𝐭 𝐒𝐲𝐬𝐭𝐞𝐦 𝐃𝐚𝐬𝐡𝐛𝐨𝐚𝐫𝐝
            </H2>
        </div>
        <div class="manu2">
            <ul>
                <li><a href="addcus.html">Add Customer</a></li>
                <li><a href="cus_det.html">Customer Details</a></li>
                <li><a href="billing.html">billing</a></li>
                <li><a href="update.html">Update Customer</a></li>
                <li><a href="addcom.html">Add Computer</a></li>
                <li><a href="com_det.html"> Computer Details</a></li>
                <li><a href="home.html">Logout</a></li>
           </ul>

        </div>
        
    </div>
</body>
</html>