{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyber cafe management system</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class ="background">
    <div class="Cyber">
        <H1>𝓬𝔂𝓫𝓮𝓻 𝓬𝓪𝓯𝓮 </H1>

    </div>
    <div class="manu">
         <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
         </ul>
        
   </div>
   <div class="slogan">
        <H1>𝐓𝐇𝐄 𝐏𝐋𝐀𝐂𝐄 𝐘𝐎𝐔 𝐍𝐄𝐄𝐃 𝐓𝐎 𝐁𝐄</H1>


   </div>
   <div class="content">
    <p>Cyber Cafe invokes managing the movement of resources. This not only includes products, but the movement and storage of materials, tools, equipment, services, people and information. It includes transportation, packaging, warehousing, materials handling and condition management. It involves both forword and reverse flow, as well as managing inventory and warehousing.

    </p>

   </div>
   <div class="contact">
       <H1>𝗖𝗼𝗻𝘁𝗮𝗰𝘁 𝘂𝘀</H1>   
   </div>
   </div>
    
    
</body>
</html>